@model SWLojaVirtual.Dominio.Entidades.Produto

@{
    ViewBag.Title = "Detalhes";
}


<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

    </dl>
</div>

        @using (Html.BeginForm("Adicionar", "Carrinho"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.IdProduto)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Comprar" />
            </div>
        }
<br />
<br />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProduto }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Voltar", "Index")
</p>
